<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        
        <div class="container">
            <div class="inputs">
                <input type="text" placeholder="Nuovo Todo" v-model="newItem" @keyup.enter="addItem()">
                <button @click="addItem()">Aggiungi</button>
            </div>
            <ul class="todolist">
                <li v-for="item, index in todoList">
                    <div :class="{ 'check': item.done }">
                        {{ index +1 }} : {{ item.text }}
                    </div>
                    <div @click="removeItem(index)"><i class="fa-solid fa-xmark"></i></div>
                </li>
            </ul>
        </div>
    </div>
    
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>